/**
 *
 * MyBB: Default - Admin CP
 *
 * Filename: forum.css
 *
 * Style Author: Chack1172 & Vintagedaddyo
 *
 * C Site: http://www.chack1172.altervista.org/
 * V Site: http://community.mybb.com/user-6029.html
 *
 * MyBB Version: 1.8.x
 *
 * Style Version: 1.1
 * 
 */

.quick_perm_fields .ui-sortable {
	min-height: 60px;
    padding: 10px;
}

.quick_perm_fields ul li {
    list-style: none;
    margin: 3px;
}